<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
th:replace="~{/layout/fragment :: dynamic(~{::main})}">
<body>
    <main class="container-fluid ml-3">
        <div class="card">
            <b class="mt-2 mb-2 card-header text-center" style="font-size: 20px">[[#{order.list}]]</b>
            <div class="order-status">
                <a th:href=@{/orderHistory/confirmation}><label onmousemove="mDown(this)"><i class="fa-solid fa-circle-check"></i> [[#{order.waiting}]]</label></a>
                <a th:href=@{/orderHistory/transported}><label onmousemove="mDown(this)"><i class="fa-solid fa-truck"></i> [[#{order.Being_transported}]]</label></a>
                <a th:href=@{/orderHistory/delivery}><label onmousemove="mDown(this)"><i class="fa-solid fa-road"></i> [[#{order.Delivery_in_progress}]]</label></a>
                <a th:href=@{/orderHistory/delivered}><label onmousemove="mDown(this)"><i class="fa-solid fa-face-smile"></i> [[#{order.Delivered}]]</label></a>
            </div>
            <script>
                function mDown(obj) {
                    obj.style.color = "red";
                }
                
                
                </script>
            <div th:if="${message != null}" class="alert alert-primary"
                role="alert"> 
                <i>[[${message}]]</i>
            </div>
            <table class="table table-hover" id="datatablesSimple">
				<thead class="bg-light ">
                    <tr>
                        <th>No.</th>
                        <th>[[#{order.Code_orders}]]</th>
                        <th>[[#{order.name}]]</th>
                        <th>[[#{order.date}]]</th>                       
                        <th>[[#{order.phone}]]</th>
                        <th>Email</th>
                        <th>[[#{order.address}]]</th>
                        <th>[[#{cart.status}]]</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each=" order,state: ${orders}">
                        <td>[[${state.index}]]</td>
                        <td>[[${order.orderId}]]</td>
                        <td>[[${order.name}]]</td>
                        <td>[[${order.createDay}]]</td>
                        <td>[[${order.telePhone}]]</td>
                        <td>[[${order.email}]]</td>              
                        <td>[[${order.address}]]</td> 
                        <td>[[${order.status}]]</td>
                        <th>
                            <a th:href="@{|/orderHistory/detail/${order.orderId}|}" class="btn btn-default">
                                <i class="fa-solid fa-magnifying-glass-plus"></i>
                            </a>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>