<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
th:replace="~{/layout/fragment :: dynamic(~{::main})}">
<body>
    <main class="container-fluid ml-3">
        <div class="card">
          <b class="mt-2 mb-2 card-header text-center" style="font-size: 20px">[[#{order.list}]]</b>
            <div class="col mt-2 mb-2">
            <a th:href=@{/orderHistory/confirmation} style="margin-left: 130px;">Đang chờ xác nhận</a>
            <a th:href=@{/orderHistory/transported} style="margin-left: 130px;">Đang vận chuyển</a>
            <a th:href=@{/orderHistory/delivery} style="margin-left: 390px;">Đang giao hàng</a>
            <a th:href=@{/orderHistory/list} style="margin-left: 130px;">Đã giao hàng</a>
            </div>
            <table class="table table-hover" id="datatablesSimple">
				<thead class="bg-light ">
                    <tr>
                        <th>No.</th>
                        <th>[[#{order.Code_orders}]]</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>                       
                        <th>Giá</th>
                        <th>Giảm giá</th>
                        <th>Thành tiền</th>
                        <th>Trạng thái</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each=" order,state: ${orders}">
                        <td>[[${state.index}]]</td>
                        <td>[[${order.order.orderId}]]</td>
                        <td>[[${order.product.name}]]</td>             
                        <td>[[${order.Quantity}]]</td>
                        <td>[[${order.price}]]</td>
                        <td>[[${order.discount}]]%</td>
                        <td>[[${order.Quantity*(order.price-(order.price*order.discount)/100)}]] <sup>đ</sup></td>
                        <td>[[${order.status}]]</td>
                        <th>
                            <a th:href="@{|/orderHistory/detail/${order.order.orderId}|}" class="btn btn-default">
                                <i class="fa-solid fa-magnifying-glass-plus"></i>
                            </a>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>