<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
th:replace="~{/layout/fragment :: dynamic(~{::main})}">
<body>
    <main class="container-fluid ml-3">
        <div class="card">
            <b class="mt-2 mb-2 card-header text-center" style="font-size: 20px">[[#{order.list}]]</b>
            <div class="order-status">
                <a th:href=@{/orderHistory/confirmation}>Đang chờ xác nhận</a>
                <a th:href=@{/orderHistory/transported}>Đang vận chuyển</a>
                <a th:href=@{/orderHistory/delivery}>Đang giao hàng</a>
                <a th:href=@{/orderHistory/list}>Đã giao hàng</a>
            </div>
            <table class="table table-hover" id="datatablesSimple">
				<thead class="bg-light ">
                    <tr>
                        <th>No.</th>
                        <th>[[#{order.Code_orders}]]</th>
                        <th>[[#{order.name}]]</th>
                        <th>[[#{order.date}]]</th>                       
                        <th>[[#{order.phone}]]</th>
                        <th>Email</th>
                        <th>[[#{order.address}]]</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each=" order,state: ${orders}">
                        <td>[[${state.index}]]</td>             
                        <td>[[${order.orderId}]]</td>
                        <td>[[${order.name}]]</td>
                        <td>[[${order.createDay}]]</td>
                        <td>[[${order.telePhone}]]</td>
                        <td>[[${order.email}]]</td>
                        <td>[[${order.address}]]</td>
                        
                        <th>
                            <a th:href="@{|/orderHistory/detail/${order.orderId}|}" class="btn btn-default">
                                <i class="fa-solid fa-magnifying-glass-plus"></i>
                            </a>
                        </th>
                    </tr>
                </tbody>
            </table>
            <ul class="pagination" style="margin-left: 630px;">
			<li class="page-item"><a class="page-link"
				href="/orderHistory/view/page?page=0">First</a></li>
			<li class="page-item"><a class="page-link"
				href="/orderHistory/view/page?page=0">1</a></li>
			<li class="page-item"><a class="page-link"
				href="/orderHistory/view/page?page=1">2</a></li>
                <li class="page-item"><a class="page-link"
                    href="/orderHistory/view/page?page=2">3</a></li>
			<li class="page-item"><a class="page-link"
				href="/orderHistory/view/page?page=1">Last</a></li>
		</ul>
        </div>
    </main>
</body>

</html>