<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
th:replace="~{/layout/fragment :: dynamic(~{::main})}">
<body>
    <main class="container-fluid ml-3">
        <div class="card">
            <b class="mt-2 mb-2 card-header text-center" style="font-size: 20px">
                <i class="fa-solid fa-clock-rotate-left"></i> [[#{order.list}]]</b>
                <div class="status_cart">
                    <label class="status_cart_item">Tất cả</label>
                    <label class="status_cart_item">Chờ Thanh Toán</label>
                    <label class="status_cart_item">Chờ Vận Chuyển</label>
                    <label class="status_cart_item">Chờ Giao Hàng</label>
                    <label class="status_cart_item">Đã Giao Hàng</label>
                </div>
            <table class="table table-hover">
				<thead class="bg-light ">
                    <tr>
                        <th>No.</th>
                        <th>[[#{order.Code_orders}]]</th>
                        <th>[[#{order.name}]]</th>
                        <th>[[#{order.date}]]</th>                       
                        <th>[[#{order.phone}]]</th>
                        <th>Email</th>
                        <th>[[#{order.address}]]</th>
                        <th>[[#{cart.status}]]</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each=" order,state: ${orders}">
                        <td>[[${state.index}]]</td>             
                        <td>[[${order.orderId}]]</td>
                        <td>[[${order.name}]]</td>
                        <td>[[${order.createDay}]]</td>
                        <td>[[${order.telePhone}]]</td>
                        <td>[[${order.email}]]</td>
                        <td>[[${order.address}]]</td>
                        <td style="color: red; font-weight: bold;">[[${order.status}]]</td>
                        
                        <th>
                            <a th:href="@{|/orderHistory/detail/${order.orderId}|}" class="btn btn-default">
                                <i class="fa-solid fa-magnifying-glass-plus"></i>
                            </a>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>