<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
    <main class="row">
        <div class="col">
            <div class="card">
                <div class="card-header card bg-secondary text-white">
                    <div class="panel-title" ></div>
                </div>
                <div class="card-body">
                    <a href="">
                        <img src="">
                    </a>
                </div>
                <div class="card-footer text-right">
                    <b class=""></b>
                    <button  class="btn btn-success">
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                    </button>
                </div>
            </div>
        </div>
        <div>
            <button class="btn btn-danger" style="border-radius: 45px; ">
                <i class="fa-solid fa-angles-up"></i>
            </button>
            <button class="btn btn-primary" style="border-radius: 45px;">
                <i class="fa-solid fa-chevron-left"></i>
            </button>
            <button class="btn btn-success">1 of 5</button>
            <button class="btn btn-primary" style="border-radius: 45px;">
                <i class="fa-solid fa-chevron-right"></i>
            </button>
            <button class="btn btn-danger" style="border-radius: 45px;">
                <i class="fa-solid fa-angles-down"></i>
            </button>
        </div>
    </main>
</body>

</html>