<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
th:replace="~{/layout/fragment :: dynamic(~{::main})}">

<body>
    <main class="container">
        <div th:replace="~{/cart/view :: shopping_cart}"></div>
        <div class="card card-primary">
            <div class="card-header">Vui lòng nhập đầy đủ thông tin!</div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-sm-4">
                        <div>Tên người đặt hàng:</div>
                        <div class="form-control" id="username">[[${#request.remoteUser}]]</div>
                    </div>
                    <div class="form-group col-sm-4">
                        <div>Ngày đặt hàng:</div>
                        <div class="form-control">{{order.createDate | date:'dd-MM-yyyy'}}</div>
                    </div>
                    <div class="form-group col-sm-4">
                        <div>Số điện thoại:</div>
                            <input class="form-control" type="text" placeholder="Sdt:">
                    </div>
                </div>
                <hr> <hr>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <div>Địa chỉ giao hàng:</div>
                        <textarea ng-model="order.address" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="card-footer text-right">
                <button ng-click="order.purchase()" class="btn btn-success">Đặt hàng</button>
            </div>
        </div>
    </main>
</body>
</html>