<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/fragment :: dynamic(~{::main})}">
<body>
	<main>
		<div class="col-sm-5 mx-auto">
			<div class="title">
				<p class="fs-2 text-center text-justify">[[#{user.title}]]</p>
			</div>
			<form action="/user/feedback/save" method="post" th:object="${feedback}">
				<div class="row">
					<div class="form-group col-sm-5">
						<label>[[#{info.name}]]:</label>
						<input name="username" required>
					</div>
					<div class="message" th:if="${message != null}" role="alert">
						<i>[[${message}]]</i>
					</div>
				</div>		
				<div class="input-group">
					<textarea name="description" class="form-control" rows="3" required placeholder="Description"></textarea>
				</div>
				<div class="card-bottom mt-3">
					<button class="btn btn-danger" style="width: 80px">[[#{mail.send}]]</button>
				</div>
			</form>
		</div>
	</main>
</body>
</html>