<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
th:replace="~{/layout/fragment :: dynamic(~{::main})}">

<body >
    <main th:object="${order}" class="container">
        <form class="container">
            <div class="text-center">
                <h2 class="alert alert-success mb-5"><lable th:text="#{detail.title}"></lable></h2>
            </div>
            <div class="col-md-12 order-md-1">
                <div class="row">                  
                    <div class="col-md-6">
                        <label><i class="fa-solid fa-pen-nib"></i> <lable th:text="#{checkout.name}"></lable></label>
                        <input th:field="*{name}" class="form-control" readonly>
                    </div>
                    <div class="col-md-6">
                        <label><i class="fa-solid fa-calendar-days"></i> <lable th:text="#{order.date}"></lable>:</label>
                        <input class="form-control" th:field="*{createDay}" readonly></input>
                    </div>
                    <div class="col-md-6 mt-3">
                        <label><i class="fa-solid fa-phone"></i> <lable th:text="#{order.phone}"></lable>:</label>
                        <input th:field="*{telePhone}" class="form-control" readonly>
                    </div>
                    <div class="col-md-6 mt-3">
                        <label for="kh_ten"><i class="fa-solid fa-tag"></i> Email:</label>
                        <input class="form-control" th:field="*{email}" readonly></input>                       
                    </div>
                    <div class="col-md-12 mt-3">
                        <div><i class="fa-solid fa-location-dot"></i> <lable th:text="#{order.address}"></lable>:</div>
                        <textarea th:field="*{address}" class="form-control" readonly></textarea>
                    </div>
                </div>
            </div>
            <div class="card card-primary mt-5">
                <div class="card-header"><lable th:text="#{product.title}"></lable></div>
                <table class="table">
                    <thead>
                        <tr>
                            <th><lable th:text="#{code.detail}"></lable></th>
                            <th><lable th:text="#{order.Code_orders}"></lable></th>
                            <th><lable th:text="#{cart.code}"></lable></th>
                            <th><lable th:text="#{cart.name}"></lable></th>
                            <th><lable th:text="#{cart.price}"></lable></th>
                            <th><lable th:text="#{cart.discount}"></lable></th>
                            <th><lable th:text="#{cart.qty}"></lable></th>
                            <th><lable th:text="#{cart.amount}"></lable></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="detail: *{orderDetails}" th:object="${detail}">
                            <td>[[*{orderDetailId}]]</td>
                            <td>[[*{order.orderId}]]</td>
                            <td>[[*{product.productId}]]</td>
                            <td>[[*{product.name}]]</td>
                            <td>[[*{price}]]<sup>đ</sup></td> 
                            <td>[[*{discount}]]%</td>
                            <td>[[*{quantity}]]</td>  
                            <td>[[*{(price-(price*discount)/100) * quantity}]] VND</td>               
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="cancel">
                <a th:href="@{/order/list}"><th><lable th:text="#{order.list}"></lable></th></a>	
                <a class=" mt-3 mr-5 ml-4"><lable th:text="#{cancel}"></lable></a>	
                <!-- <a th:href="@{|/admin/orderDetails/delete/${detail.orderDetailId}|}">HỦY</a> -->
            </div>
        </form>
    </main>
</body>
</html>