.discription{
	font-size: 11px;
}
.bot{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-child{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.img-child img{
    width: 100px;
    height: 100px;
    margin: 10px;
}
.img-1{
    width: 300px;
}
.cancel{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	
}
.category-title{
    display: flex;
}
