<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
th:replace="~{/admin/dist/fragment :: dynamic(~{::main})}">

 <body>
    <main>
		<section class="row">
			<div class="col-6 offset-3 mt-3 mb-3">
				<form th:action="@{/admin/categories/saveOrUpdate}" method="post"
					th:object="${category}">
					<div class="card">
						<div class="card-header">
							<h2
								th:text="${category.isEdit ? 'Edit Category' : 'Add New Category'}">Add
								New Category</h2>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="categoryId">Category ID:</label> <input type="text"
									class="form-control" aria-describedby="categoryIdHid"
									th:field="*{categoryId}" placeholder="Category ID" readonly>
							</div>
							<div class="form-group">
								<label for="name">Name:</label> <input type="text"
									class="form-control" id="name" aria-describedby="nameHid"
									th:field="*{name}" name="name" placeholder="Category Name">
							</div>
						</div>
						<div class="card-footer text-muted">
							<button type="reset" class="btn btn-secondary">Reset</button>
							<a th:href="@{/admin/categories}" class="btn btn-success">List
								Categories</a>
							<button class="btn btn-primary">
								<i class="fas fa-save"></i> <span th:if="${category.isEdit}">Update</span>
								<span th:unless="${category.isEdit}">Save</span>
							</button>
						</div>
					</div>
				</form>
			</div>
		</section>
	</main>
  </body>
</html>