<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
th:replace="~{/admin/dist/fragment :: dynamic(~{::main})}">

  <body>  
    <main>
      <div class="container-fluid px-4">
        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Category List
        </div>
        <div class="card-body">
            <div th:if="${message != null}" class="alert alert-primary"
                  role="alert"> 
                <i>[[${message}]]</i>
            </div>
            <table id="datatablesSimple">
              <thead class="bg-light ">
                <tr>
                  	<th>Category ID</th>
					<th>Name</th>
                </tr>
            </thead>
            <tbody>
              <tr th:each="category, isStat : ${category}">
                <td scope="row">[[${category.categoryId}]]</td>
                <td th:text="${category.name}"></td>
                <td><a href="" class="btn btn-outline-info">
                		<i class="fas fa-info"></i>
                    </a> 
                    <a href=""
                  		class="btn btn-outline-warning"
                  		th:href="@{'/admin/categories/edit/' + ${category.categoryId}}"><i
                    	class="fas fa-edit"></i>
                    </a> 
                    <a th:data-id="${category.categoryId}"
                  		th:data-name="${category.name}"
                  		onclick="showConfirmModalDialog(this.getAttribute('data-id'), this.getAttribute('data-name'))"
                  		class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i>
                  	</a>
                </td>
              </tr>
            </tbody>
            <script>
              function showConfirmModalDialog(id, name) {
                $('#productName').text(name);
                $('#yesOption').attr('href',
                    '/admin/categories/delete/' + id);
                $('#confirmationId').modal('show');
              }
            </script>
            <div class="modal fade" id="confirmationId" tabindex="-1"
              role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal"
                      aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Do you want to delete "<span id="productName"></span>"?
                  </div>
                  <div class="modal-footer">
                    <a id="yesOption" type="button" class="btn btn-danger">Yes</a>
                    <button type="button" class="btn btn-secondary"
                      data-dismiss="modal">No</button>
                  </div>
                </div>
              </div>
            </div>
            </table>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>