<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/admin/dist/fragment :: dynamic(~{::main})}">

<body>
	<main>
		<form action="/admin/orders/saveOrUpdate" method="post"
			enctype="multipart/form-data" th:object="${order}">
			<div class="card">
				<div class="card-header card bg-secondary text-white"
					style="text-align: center">
					<h2
						th:text="${order.isEdit ? 'Chỉnh sửa đơn hàng' : 'Thêm mới đơn hàng'}">
					</h2>
				</div>
				<div class="card-body">
					<div class="row">
						<input type="hidden" th:field="*{isEdit}">
						<div class="col-sm-12 ses ">
							<div class="row">
								<div class="form-group col-sm-6">
									<label for="productId">Mã đơn hàng: </label> 
									<input type="text" readonly class="form-control" name="orderId" id="productId"
										th:field="*{orderId}" aria-describedby="productIdHid">
								</div>
								<div class="form-group col-sm-6">
									<label for="username"> Tên tài khoản</label> 
									<input class="form-control" name="account" id="username" required
											th:field="*{account.username}" readonly>
								</div>
								<div class="form-group col-sm-6">
									<label for="productId">Họ và tên: </label> 
									<input type="text"  class="form-control" name="name" id="productId"
										th:field="*{name}" aria-describedby="productIdHid">
								</div>
								<div class="form-group col-sm-6">
									<div>Ngày đặt hàng:</div>
									<input th:field="*{createDay}" type="date" name="createDay"
										id="password" aria-describedby="passwordHid"
										placeholder="Create Date" class="form-control mt-2">
								</div>
								<div class="form-group col-sm-6">
									<div>Số điện thoại:</div>
									<input th:field="*{telePhone}" type="number" name="telePhone"
										placeholder="Phone Number" class="form-control mt-2">
								</div>
								<div class="form-group col-sm-6">
									<div>Email:</div>
									<input th:field="*{email}" type="email" name="email"
										class="form-control mt-2">
								</div>
								<div class="col">
									<div>Địa chỉ:</div>
									<textarea th:field="*{address}" placeholder="Address"
										style="height: 190px" class="mt-2 form-control description"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer text-center mt-5">
					<button class="btn btn-primary mr-3"
						th:text="${order.isEdit? 'Cập nhật':'Lưu'}">
						Lưu <i class="fa-solid fa-plus"></i>
					</button>
					<a th:href="@{/admin/orders}" class="btn btn-success mr-2">Danh
						sách đơn hàng</a> <a class="btn btn-danger mr-2"
						th:if="${order.isEdit}" th:data-id="${order.orderId}"
						th:data-name="${order.orderId}"
						onclick="showConfirmModalDialog(this.getAttribute('data-id'), this.getAttribute('data-name'))">
						Xóa <i class="fa-regular fa-trash-can"></i>
					</a> <a th:href="@{/admin/orders/add}" class="btn btn-info mr-3">
						Làm mới <i class="fa-regular fa-window-restore"></i>
					</a>
				</div>
			</div>
			<script>
				function showConfirmModalDialog(id, name) {
					$('#orderId').text(name);
					$('#yesOption').attr('href', '/admin/orders/delete/' + id);
					$('#noOption').attr('href', '/admin/orders/edit/' + id);
					$('#confirmationId').modal('show');
				}
			</script>
			<div class="modal fade" id="confirmationId" tabindex="-1"
				role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Xác nhận</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							Bạn có muốn xóa loại hàng mã "<span id="orderId"></span>"?
						</div>
						<div class="modal-footer">
							<a id="yesOption" type="button" class="btn btn-danger">Đồng ý</a>
							<a id="noOption" type="button" class="btn btn-secondary"
								data-dismiss="modal">Hủy</a>
						</div>
					</div>
				</div>
			</div>
		</form>
	</main>
</body>
</html>