<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
th:replace="~{/layout/fragment :: dynamic(~{::main})}">
<body>
<main class="container" >
	<div id="wrapper">
		<div class="container">
			<div class="row justify-content-around">
				<form action="/register/save" class="col-md-5 bg-light p-3 my-3" 
					method="post" th:object="${account}">
					<div class="card-title mb-5">[[#{regist.title}]]</div>
					<div class="row">
						<div class="col-sm-6 form-group">
							<label for="floatingInputUsername">[[#{regist.name}]]</label> <input type="text"
								name="username" id="username" class="form-control" required>
						</div>
						<div class="col-sm-6 form-group">
							<label for="fullname">[[#{info.name}]]</label> 
							<input type="text" name="fullname" id="fullname" class="form-control" required>
						</div>
						<div class="col-sm-6 form-group">
							<label for="password">[[#{regist.password}]]</label> <input type="password"
								name="password" id="password" class="form-control" required>
						</div>
						<div class="col-sm-6 form-group">
							<label for="passwordRe">[[#{regist.confirmPass}]]</label> <input type="password"
								name="passwordRe" id="passwordRe" class="form-control" required>
						</div>
					</div>
					

					
					<div th:if="${message != null}" class="alert alert-primary"
						role="alert">
						<i>[[${message}]]</i>
					</div>
					<button class="btn-primary btn btn-block mb-3">Đăng ký
					</button>
				</form>
			</div>
		</div>
	</div>
	</main>
</body>
</html>